<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Humeter</title>
<link rel="icon" type="image/png" href="favicon.png">
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="vendor/chartist/dist/chartist.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">